* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header>span{
  margin:10px;
}

header, div.red {
  color: #fff;
  font-size: 18px;
  height: 71px;
  line-height: 56px;
  background-color: #F44336;
}

header .fa-chevron-left {
  margin-right: 16px;
}

div.white{
  background-color:white;
  margin: 0 3%;
}

input{
  width:80%;
  outline: none;
  border:1px solid white;
}

.gray{
  color:gray;
  margin:auto 10px;
}

div.details{
  border: 1px solid gray;
  height:auto;
}

.right{
  float:right;
  margin: 10px;
  color:black;
}

div.result{
  color:black;
  position: relative;
  top: 21%;
}

.fa-map-o{
  cursor:pointer;
}
/*.none{
  display:none;
}*/

div#map{
  margin: auto;
  width: 50%;
  height: 300px;

}
